@tailwind base;
@layer base {
	@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600;900&family=Roboto:wght@300;400;500;700&display=swap");

    /* VARIABLES*/
    :root {
        --nav-height: 70px;
    }

    /* GLOBAL DEFUALTS */
    ::-moz-selection { @apply bg-yellow; }
    ::selection { @apply bg-yellow; }

	body {
		-webkit-font-smoothing: antialiased;
		@apply 
            antialiased
            dark:text-white
            dark:bg-black;

	}
    a {
        @apply
            relative
            overflow-hidden
            inline-flex;
    }
	h1 {
		@apply font-boldest
            font-heading
            text-lg
            tablet:text-xl
            desktop:text-2xl 
            uppercase;
	}
	h2 {
		@apply font-boldest
            font-heading
            text-md
            laptop:text-2md
            uppercase;
	}
	p {
		@apply font-normal
            font-body
            laptop:text-body2 
            desktop:text-body3;
	}
	p:first-of-type {
		@apply mt-5;
	}
	section {
		@apply mt-10 mb-10;
	}
	section:first-of-type {
		@apply mt-0 mb-10;
	}

    button,
    nav a {
		@apply 
            uppercase 
            text-tiny 
            font-black 
            tracking-widest;
	}

    /* GLOBAL STATES */
    button,
    input {
        @apply
            focus:outline-none
            focus:ring 
            focus:ring-yellow;
    }
    
	/* ANIMATIONS */
	a,
    a:after,
    a:before,
	button,
	button:before,
	button:after {
        @apply transition-all duration-200;
	}
}

@tailwind components;
@layer components {
    /* CONTAINERS */
    .page-container {
        padding-top: var(--nav-height);
    }
    /* NAV */
    header {
        @apply 
        flex
        flex-1
        bg-white
        dark:bg-black
        dark:text-white
        fixed
        top-0
        left-0
        z-50
        w-full;
        height: var(--nav-height);

    }
    nav {
        @apply 
            flex
            justify-between;
    }

    /* LINKS */
    a.link:after {
        @apply  
            bg-green
            bg-opacity-70
            left-0
            bottom-0
            w-full
        h-full
            absolute
            transform-gpu
            translate-y-3/4
            ;
        content: "";
        mix-blend-mode:multiply;
    }
    a.link:hover:after {
        @apply translate-y-0;   
    }

    nav a {

    }
    
	/* BUTTONS */
	button {
		@apply 
            flex 
            items-center 
            justify-center
            shadow-offset-brand
            hover:shadow-offset-hover
            w-32
            h-12
            relative
            overflow-hidden
	}
	button:after {
        @apply  
            left-0
            w-full
            absolute
            transform-gpu;
        content: "";
		height: 1px;
		transform: translateX(-90%);
       
	}
    button:hover:after {
        transform: translateX(90%);
    }
    button.btn-primary {
        @apply bg-black text-white border-white;
    }
    button.btn-primary:after { 
        @apply bg-white;
    }
    button.btn-primary:hover:after { 
        @apply bg-green;
    }
    button.btn-secondary {
        @apply 
        border-black 
        shadow-none
        bg-white border-2 
        hover:shadow-offset-brand;
    }
    button.btn-secondary:after { 
        @apply bg-black ;
    }
    button.btn-secondary:hover:after { 
        @apply bg-purple;
    }

	/* BLOCKQUOTE */
	blockquote p {
		@apply font-black
            tracking-widest
            leading-7
            tablet:leading-8
            uppercase;
	}
	blockquote .quote {
		font-size: 12rem;
		@apply mr-2 font-body absolute -top-5 -left-10 -z-1 leading-none;
	}
	cite {
		@apply mt-7;
	}
	cite span {
		@apply not-italic
            text-labelLarge
            font-black
            uppercase;
	}

    /* SMALLER COMPONENTS */
	.label {
		@apply font-body
            font-light
            text-labelLarge 
            laptop:text-labelLarge2 
            desktop:text-labelLarge3 
            uppercase
            dark:text-gray
            ;
	}

    /* SCROLL INDICATOR */
    .scrollContainer {
        @apply absolute bottom-0 w-full bg-gray;
    }
    .scrollFill {
        @apply bg-blue h-2 w-3;
    }
}

@tailwind utilities;

@tailwind screens;
